
.header {
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.4rem);
  /*  📚 I checked, "cursive" generic font renders very differently per OS (Comic Sans on Windows, Snell Roundhand on Mac) */
  font-family: "Lucida Grande", cursive;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  letter-spacing:7px;
  }
 

main {
  
  min-height: 95vh;
  width: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
 
  }

main > * {
  width: 100%;
  max-width: 600px; 
 
}
