.stats {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  font-family: "Lucida Grande", oblique, cursive;
  font-size: clamp(1rem, 3vw, 1.4rem);
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.stat-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.1em 0.5em;
  background: linear-gradient(180deg, #53aaf2, #1c7ed6);
  color: #fff;
  font-size: clamp(1rem, 3vw, 1.5rem);

  border-radius: 9999px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
}
